body {
	display: grid;
	grid-template-areas:
		"heading heading"
		"gloss explanations";
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content 1fr;
	column-gap: 1rem;
}

.mobile {
	display: none;
}

@media screen and (max-width: 600px) {
	body {
		grid-template-areas: "heading" "gloss" "explanations";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}
	#sentence {
		width: 100%;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
	}
}

#desc {
	grid-area: heading;
}
#sentence {
	grid-area: gloss;
	border-collapse: collapse;
}
#explanations {
	grid-area: explanations;
}

#sentence td {
	padding: 1px 5px;
}
#sentence td[id] {
	font-style: italic;
}
caption {
	margin-top: 0.5rem;
	caption-side: bottom;
}

#explanations > * {
	display: none;
}
#explanations > h2 {
	display: block;
}

abbr[title] {
	position: relative;
	text-decoration: underline dotted;
}
abbr[title]:hover::after,
abbr[title]:focus::after {
	content: attr(title);
	position: absolute;
	left: 0;
	z-index: 1;
	bottom: -30px;
	width: auto;
	white-space: nowrap;
	background-color: #1e1e1e;
	color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
	font-size: 14px;
	padding: 3px 5px;
}

.after #after,
.city #city,
.attacked #attacked,
.is #is,
.mother #mother,
.we-ordered #we-ordered,
.not-to1 #not-to1,
.fear #fear,
.because #because,
.we-felt #we-felt,
.sister #sister,
.and-brother #and-brother,
.money #money,
.and #and,
.food #food,
.to-inhabitants #to-inhabitants,
.about-to-give #about-to-give,
.to-be #to-be,
.not-to2 #not-to2,
.in #in,
.danger #danger,
.are #are {
	font-weight: bold;
}
.after .after,
.city .city,
.attacked .attacked,
.is .is,
.mother .mother,
.we-ordered .we-ordered,
.not-to1 .not-to1,
.fear .fear,
.because .because,
.we-felt .we-felt,
.sister .sister,
.and-brother .and-brother,
.money .money,
.and .and,
.food .food,
.to-inhabitants .to-inhabitants,
.about-to-give .about-to-give,
.to-be .to-be,
.not-to2 .not-to2,
.in .in,
.danger .danger,
.are .are {
	text-decoration: underline;
}
